.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(90deg, #007bff, #00c6ff);
  color: white;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
}
